/* ------------------------------------
							Home-nav
-------------------------------------*/
.navbar {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 10px;
	position: sticky;
	top: 0;
	z-index: 90;
	font-family: var(--second-font);
}

.navbar__buttons {
	display: flex;
}

.signupButton {
	background-color: rgb(0, 0, 0);
	border: 2px solid rgb(223, 225, 245);
	border-radius: 6px;
	color: rgb(223, 225, 245);
	font-size: 16px;
	font-weight: 500;
	padding: 10px 16px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.signupButton:hover {
	background-color: rgb(223, 225, 245);
	color: rgb(3 21 53);
}

/* ------------------------------------
							Home-nav
-------------------------------------*/

.home {
	background-color: rgb(32 35 37);
	display: flex;
	align-items: flex-start;
	height: calc(100vh - 73px);
	font-family: var(--second-font);
}

.home-intro {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-inline: 100px;
	font-size: 30px;
	color: white;
}

.title {
	color: #dfe1f5;
	animation-name: moveRight;
	animation-duration: 0.7s;
}

.title_two {
	color: #dfe1f5;
	animation-name: moveLeft;
	animation-duration: 1s;
}

.text span {
	font-size: 40px;
	color: #dfe1f5;
	margin-bottom: 20px;
}

@keyframes moveRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveLeft {
	0% {
		opacity: 0;
		transform: translateX(-150px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}
.Typewriter {
	background-color: #202325;
}
