@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--color-white: rgb(255, 255, 255);
	--color-black: black;
}

body {
	height: 100%;
	width: 100%;
	background-color: var(--color-white);
}

* {
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	margin: 0;
	padding: 0;
	font-family: "Roboto Slab", serif;
	color: var(--color-black);
}

/* --------------------------------------------------------
										scroll-bar
-----------------------------------------------------------*/
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: #2b2d31;
}

::-webkit-scrollbar-thumb {
	background-color: #2b2d31;
	border-radius: 5px;
}

.scroller-d:hover::-webkit-scrollbar-thumb {
	background-color: #131416;
}

/* ------------------------------------
							Home-nav
-------------------------------------*/
.navbar {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 10px;
	position: sticky;
	top: 0;
	z-index: 1;
}

.navbar__buttons {
	display: flex;
}

.signupButton {
	background-color: rgb(0, 0, 0);
	border: 2px solid rgb(223, 225, 245);
	border-radius: 6px;
	color: rgb(223, 225, 245);
	font-size: 16px;
	font-weight: 500;
	padding: 10px 16px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.signupButton:hover {
	background-color: rgb(223, 225, 245);
	color: rgb(3 21 53);
}

/* ------------------------------------
							groups
-------------------------------------*/
.groups {
	background-color: #1e1f22;
	height: 100vh;
	width: 72px;
	flex-shrink: 0;
	font-size: 30px;
	position: sticky;
	overflow: auto;
	scroll-behavior: smooth;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.groups::-webkit-scrollbar {
	display: none;
}

.discover {
	background-color: #2b2d31;
	height: 100vh;
	width: 240px;
	flex-shrink: 0;
	font-size: 30px;
}

.maincontent {
	background-color: #313338;
	height: 100vh;
	flex-grow: 1;
	font-size: 30px;
}

/* @media screen and (max-width: 768px) {
	.discover {
		display: none;
	}
}
@media screen and (max-width: 640px) {
	.groups {
		display: none;
	}
} */

.groups-border {
	border-radius: 50%;
	background-color: #313338;
	width: 48px;
	height: 48px;
	transition: background-color 0.3s ease-out, color 0.3s ease-out, border-radius 0.3s ease-out;
}

.groups-border:hover {
	border-radius: 30%;
	background-color: #5865f2;
}

.object-cover {
	object-fit: cover;
}

.groups-svg-border {
	border-radius: 50%;
	background-color: #313338;
	width: 48px;
	height: 48px;
	transition: background-color 0.3s ease-out, color 0.3s ease-out, border-radius 0.3s ease-out;
}

.groups-svg-border:hover {
	border-radius: 30%;
	background-color: #249c57;
}

.groups-svg-border:hover .plus-svg {
	fill: #ffffff;
}

.servers .round {
	transition: background-color 0.2s ease-out, color 0.2s ease-out, border-radius 0.2s ease-out;
}

.servers:hover .round {
	border-radius: 30%;
}

.sm-line {
	margin: 0 0 7px;
	width: 72px;
}

.sm-line-v {
	height: 2px;
	width: 32px;
	border-radius: 1px;
	background-color: rgb(84, 82, 90);
}

.logo-home {
	filter: brightness(9999%);
}

.side-line {
	position: relative;
	left: -6px;
	top: 0;
}

.side-line-effect {
	position: relative;
	display: flex;
	width: 8px;
	border-radius: 0 4px 4px 0;
	margin-left: -10px;
	background-color: #f3f4f5;
	opacity: 1;
	height: 8px;
	transform: none;
	transition: height 0.2s ease-out;
}

/* ------------------------------------
							discover
-------------------------------------*/
.discover-nav {
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	flex: 1 1 auto;
	min-height: 0;
	position: relative;
}

.discover header {
	background-color: #2b2d31;
	position: relative;
	font-weight: 500;
	padding: 12px 16px;
	box-sizing: border-box;
	z-index: 3;
	transition: background-color 0.2s linear;
	box-shadow: 0 1px 0 #202124, 0 1.5px 0 #202124, 0 2px 0 #202124;
}

.discover header:hover {
	background-color: #35373c;
}

.discover header div {
	display: flex;
	align-items: center;
	flex: 1;
	z-index: 1;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-width: 0;
}

.discover header div {
	color: #ebeced;
	height: 24px;
}

.scroller-d {
	height: calc(100% - 48px);
	overflow-y: scroll;
	padding-right: 5px;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scroll-behavior: smooth;
	z-index: 1;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 0;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.ul-discover {
	position: relative;
	list-style: none;
	display: block;
}

.channels {
	position: relative;
	padding-top: 16px;
	display: list-item;
}

.wrapperCommon {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 24px;
	padding-left: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: 12px;
}

.channels-content {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	overflow: hidden;
}

.channels-content::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.arrow-svg {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 12px;
	height: 12px;
	transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
	fill: #96969a;
}

.channels-name {
	box-sizing: border-box;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.02em;
	font-weight: 600;
}

.channels-name div {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	color: #96969a;
}

.wrapperCommon:hover .channels-name div {
	color: white;
}

.wrapperCommon:hover .arrow-svg path {
	fill: white;
}

.channels-add {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 auto;
	padding-right: 8px;
	cursor: pointer;
}

.add-button {
	cursor: pointer;
	display: block;
	width: 18px;
	height: 18px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	background: none;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	padding: 2px 16px;
	user-select: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.add-svg path {
	fill: #96969a;
}

.add-button:hover svg path {
	fill: white;
}

.tooltip .tooltiptext {
	visibility: hidden;
	position: absolute;
	z-index: 999;
	top: 100%;
	left: 50%;
	margin-left: -20px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
	padding: 6px;
	font-size: 14px;
	line-height: 1.2;
	width: 120px;
	text-align: center;
	opacity: 0;
	transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.chat-channels {
	padding: 1px 0;
	overflow: visible;
	position: relative;
	cursor: pointer;
	height: 34px;
}

.chat-channels-2 {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	background-color: #2b2d31;
	padding: 0 8px;
	margin-left: 8px;
	border-radius: 4px;
	flex-direction: row;
	height: 34px;
	position: relative;
	transition: all 0.3s ease-in-out;
}

.chat-channels-2:hover {
	background-color: #4042497b;
}

.link-channels {
	flex: 1 1 auto;
	flex-direction: row;
	min-width: 0;
	padding: 6px 0;
	cursor: pointer;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	height: 34px;
	text-decoration: none;
}

.link-channels-2::before {
	position: relative;
	margin-right: 6px;
	height: 18px;
}

.react-svg {
	position: relative;
	margin-bottom: 2px;
	width: 18px;
	height: 18px;
}

.channels-list {
	margin-left: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	flex: 1 1 auto;
	position: relative;
	color: #96969a;
	text-decoration: none;
}

.chat-channels:hover .channels-list {
	color: white;
}

.hidden {
	display: none;
}
