@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
	--color-white: rgb(255, 255, 255);
	--color-black: black;
	--linear-grad: linear-gradient(to right, #141e30, #243b55);
	--grad-clr1: #141e30;
	--grad-clr2: #243b55;
}

body {
	height: 100%;
	width: 100%;
	background-color: var(--color-white);
}

* {
	box-sizing: border-box;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	margin: 0;
	padding: 0;
	font-family: "Roboto Slab", serif;
	color: var(--color-black);
}

/* --------------------------------------------------------
										scroll-bar
-----------------------------------------------------------*/
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: #2b2d31;
}

::-webkit-scrollbar-thumb {
	background-color: #2b2d31;
	border-radius: 5px;
}

.scroller-d:hover::-webkit-scrollbar-thumb {
	background-color: #131416;
}
