@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
	--color-white: rgb(255, 255, 255);
	--color-black: black;
	--linear-grad: linear-gradient(to right, #141e30, #243b55);
	--grad-clr1: #141e30;
	--grad-clr2: #243b55;
	--app-font: "Poppins", sans-serif;
	--second-font: "Roboto Slab", serif;
}

body {
	height: 100%;
	width: 100%;
	background-color: var(--color-white);
}
input,
button {
	font-family: var(--second-font);
}
* {
	box-sizing: border-box;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	margin: 0;
	padding: 0;
}
#tooltip {
	z-index: 999999;
	position: fixed;
	font-size: 14px;
	background-color: black;
	color: white;
	border-radius: 7px;
	padding-block: 5px;
	padding-inline: 13px;
	font-weight: 500;
}
.app-font {
	font-family: var(--app-font);
}
.add-svg path {
	fill: #a5a5ab;
}
/* --------------------------------------------------------
										scroll-bar
-----------------------------------------------------------*/
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: #2b2d31;
}

::-webkit-scrollbar-thumb {
	background-color: #2b2d31;
	border-radius: 5px;
}

.scroller-d:hover::-webkit-scrollbar-thumb {
	background-color: #131416;
}
