/* ------------------------------------
							maincontent
-------------------------------------*/
.maincontent {
	background-color: #313338;
	height: 100vh;
	flex-grow: 1;
	font-size: 16px;
	z-index: 1;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}
.maincontent section {
	position: relative;
	flex: 0 0 auto;
	height: 48px;
	padding-inline: 8px;
	z-index: 100;
	color: #f2f2f5;
	box-shadow: 0 1px 0 #202124, 0 1.5px 0 #202124, 0 2px 0 #202124;
}
.maincontent-title {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	min-width: 0;
	overflow: hidden;
}
.maincontent-title div {
	align-items: center;
	display: flex;
	position: relative;
	margin-inline: 8px;
}
.maincontent main {
	min-width: 0;
	min-height: 0;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	position: relative;
}
.big-type-svg {
	position: relative;
	width: 26px;
	height: 26px;
}
.chat-area {
	overflow: auto;
	position: relative;
	display: flex;
	flex: 1 1 auto;
	z-index: 0;
}
.chat-form {
	background-color: #313338;
	overflow: auto;
	display: flex;
	flex: 0 0 auto;
	padding-inline: 16px;
	margin-top: -8px;
}
.chat-input {
	display: flex;
	flex: 1 1 auto;
	margin-bottom: 24px;
	background-color: #383a40;
	position: relative;
	width: 100%;
	text-indent: 0;
	border-radius: 8px;
	height: 44px;
}

.add-btn {
	padding: 10px 16px;
	position: relative;
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	background: none;
	border: none;
	border-radius: 3px;
	font-size: 18px;
}
.add-btn:hover svg {
	fill: white;
}
.add-btn svg {
	fill: #b5bac1;
	width: 24px;
	height: 24px;
}
.invi-block {
	display: block;
	height: 30px;
	width: 1px;
	flex: 0 0 auto;
	pointer-events: none;
}
