@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
body {
	height: 100%;
	width: 100%;
	background-color: rgb(255, 255, 255);
}
* {
	margin: 0;
	padding: 0;
	font-family: "Roboto Slab", serif;
	font-size: 30px;
	color: black;
}
.groups {
	background-color: #1e1f22;
	height: 100vh;
	width: 72px;
	flex-shrink: 0;
}
.discover {
	background-color: #2b2d31;
	height: 100vh;
	width: 240px;
	flex-shrink: 0;
}
.maincontent {
	background-color: #313338;
	height: 100vh;
	flex-grow: 1;
}

@media screen and (max-width: 768px) {
	.discover {
		display: none;
	}
}
@media screen and (max-width: 640px) {
	.groups {
		display: none;
	}
}
.groups-border {
	border-radius: 50%;
	background-color: #313338;
	width: 48px;
	height: 48px;
	transition: background-color 0.3s ease-out, color s ease-out;
}
.groups-border:hover {
	border-radius: 30%;
	background-color: #5865f2;
}

.d-flex {
	display: flex;
}
.d-block {
	display: block;
}
.align-c {
	align-items: center;
}
.justify-c {
	justify-content: center;
}
.pr-4 {
	padding-right: 4px;
}
.mb-8 {
	margin-bottom: 8px;
}
.cursor-pointer {
	cursor: pointer;
}
